.no-marg {
  margin: 0; }

.marg20 {
  margin: 20px 0; }

.no-pad {
  padding: 0; }

.textStroke__1 {
  font-size: 12px;
  color: #787878;
  font-weight: 600; }

.textStroke__2 {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  margin: 10px 0;
  display: flex;
  justify-content: space-between; }

.textStroke__3 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  margin-left: 10px; }

.curr-cta {
  background: #ff5722;
  border: 1px solid #ff5722;
  border-radius: 3px;
  padding: 10px 20px 10px;
  transition: all 0.2s linear;
  outline: none; }
  .curr-cta i {
    color: #ffffff; }
  .curr-cta.hover {
    background: #ff5722; }

.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .loader #spinner {
    box-sizing: border-box;
    stroke: #673ab7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
    animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); } }

.currencyHomeContainer {
  padding: 30px; }
  .currencyHomeContainer .shopee-logo__blk img {
    width: 180px;
    height: auto; }
  .currencyHomeContainer .cur-bg__box {
    position: relative;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    transition: all 0.2s linear;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 1000px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 18px 55px 0 rgba(0, 0, 0, 0.06); }
    .currencyHomeContainer .cur-bg__box .cur-header .form-control {
      width: 50%; }
  .currencyHomeContainer .border-bottom__stroke {
    border-bottom: 1px solid #acacac;
    position: absolute;
    left: 0;
    right: 0; }
  .currencyHomeContainer .curr-parent {
    display: flex;
    padding: 10px 0 0px; }
    .currencyHomeContainer .curr-parent .curr-desc__box {
      margin: 20px 0;
      border: 1px solid #000000;
      padding: 10px;
      flex: 1 0 0;
      padding: 5px; }
    .currencyHomeContainer .curr-parent .curr-flex__boxSecond {
      flex: 0 0 50px;
      border-left: 0;
      text-align: center; }
      .currencyHomeContainer .curr-parent .curr-flex__boxSecond i {
        top: 20px;
        cursor: pointer; }
  .currencyHomeContainer .curr-cta__box {
    margin: 50px 0; }
    .currencyHomeContainer .curr-cta__box .input-group .form-control {
      height: 42px;
      border-radius: 0;
      box-shadow: 0 18px 55px 0 rgba(0, 0, 0, 0.06); }
    .currencyHomeContainer .curr-cta__box .input-group .input-group-btn .curr-cta {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer; }
